
body{
    background-color: rgb(235, 201, 169);
}

h1{
    color: rgb(151, 58, 34);
}

p{
    color: rgb(167, 98, 71);
}

button{
    color: rgb(71, 27, 16);
    background-color: rgb(167, 98, 71);;
    width: 100px;
    height: 70px;
}   

input{
    color: rgb(151, 58, 34);
    background-color: rgba(167, 98, 71, 0.479);
    
}   

::placeholder {
    color: rgb(151, 58, 34);
}